body{
  margin: 0;
  padding: 0;
  background: url(picture1.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.loginbox{
  width: 320px;
  height: 370px;
  background: #FDFCFC;
  color: #000 ;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 60px 30px;
}
.loginicon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="Password"]{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #060606;
  font-size: 16px;
}
.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #374BCA;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
  cursor: pointer;
  color: #000;
}
.loginbox a{
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: black;
}
.SignUp{
  width: 320px;
  height: 520px;
  background: #FDFCFC;
  color: #000 ;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 60px 30px;
}
.SignUp p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.SignUp input{
  width: 100%;
  margin-bottom: 20px;
}
.SignUp input[type="text"], input[type="Password"]{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #060606;
  font-size: 16px;
}
.SignUp input[type="text"], input[type="Email"]{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #060606;
  font-size: 16px;
}
.SignUp input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #374BCA;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.SignUp input[type="submit"]:hover{
  cursor: pointer;
  color: #000;
}
.SignUp a{
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: black;
}
